* {
    background-color: rgb(164, 173, 171);
}


.botton {
    text-align: center;
    align-items: center;
    
}

.botton1 {
    text-align: center;
    align-items: center;
}

.number {
    text-align: center;
    align-items: center;
}